.row
  .large-4.columns
    = simple_form_for equipment do |f|
      = f.input :name
      .row
        .large-4.columns
          = f.input :strength
        .large-4.columns
          = f.input :agility
      .row
        .large-4.columns
          = f.input :stamina
        .large-4.columns
          = f.input :intellect
      .row
        .large-4.columns
          = f.input :spirit
        .large-4.columns
          = f.input :attack_power
      .row
        .large-4.columns
          = f.input :critical
        .large-4.columns
          = f.input :dodge
      = f.button :submit
